/*
*
*  Color pallet
*
*/

$primary-color : #ff004e;


.hide_pricing{
  color: $primary-color;
  font-weight: 700;
}

.site-header .main-menu{
  border-top: 1px solid rgb(255,255,255,0.3)!important;
}

.price-rule-active .amount{
  color: black!important;
}
/*
*
* Dokan Dashboard
 */

.dokan-dashboard .dokan-dash-sidebar{
  border-radius: 15px;
}
.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.dokan-common-links a:last-child{
  display: none;
}

#add-new-empty-row{

}
.downloadable-checkbox{
  display:none;
}
.virtual-checkbox{
  display: none;
}

/*
*
* Edit product
*
*/
.item-inline-edit{
  display: none!important;
}

.dokan-product-inventory{
  display: none!important;
}

.dokan-product-shipping-tax{
  display: none!important;
}

.dokan-discount-options{
  display: none!important;
}


/*
*
* Dokan dahboard
*
*/

.dokan-form-control{
  border-radius: 5px;
}

.select2-container--default .select2-selection--single{
  border-radius: 5px;
}

.woocommerce form .form-row .input-text{
  border-radius: 5px;
}
