/*
*
*  Color pallet
*
*/

$primary-color : #ff004e;

.site-header .main-menu{
  border-top: 1px solid rgb(255,255,255,0.3)!important;
}

/*
*
* Dokan Dashboard
 */

.dokan-dashboard .dokan-dash-sidebar{
  border-radius: 15px;
}
.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.dokan-common-links a:last-child{
  display: none;
}

#add-new-empty-row{

}
.downloadable-checkbox{
  display:none;
}
.virtual-checkbox{
  display: none;
}

tr{
  th{
    background-color: #242424;
    color: white!important;
    font-weight: 500!important;
  }
}
.dokan_tabs{
  li{
    a{
      color: black!important;
    }
  }
}

/*
* Dokan Dashboard
*/

#vendor_email{
  display: none!important;
}


/*
* Create new product template
*/

//remove bulk
select#bulk-product-action-selector {
  display: none;
}
input#bulk-product-action {
  display: none;
}
.dokan-product-select{
  display: none!important;
}
#cb {
  display: none !important;
}

//order bulk
.dokan-order-select{
  display: none!important;
}
#bulk-order-action-selector{
  display: none!important;
}
#bulk-order-action{
  display: none!important;
}

.col-check{
  display: none!important;
}

/*
*
* Edit product
*
*/

.item-inline-edit{
  display: none!important;
}

.dokan-product-inventory{
  display: none!important;
}

.dokan-product-shipping-tax{
  display: none!important;
}

.dokan-discount-options{
  display: none!important;
}


/*
*
* Dokan dashboard
*
*/

.dokan-form-control{
  border-radius: 5px;
}

.select2-container--default .select2-selection--single{
  border-radius: 5px;
}

.woocommerce form .form-row .input-text{
  border-radius: 5px;
}

input[type="submit"].dokan-btn-default, a.dokan-btn-default, .dokan-btn-default{
  color:white!important;
}

/*
*
* Offer cart (product loop)
*
*/

.groupbuy-ajax-change{
  margin-top: 5px!important;
}
.sold-by-label{
  a{
    font-weight: 700;
  }
}

.woocommerce ul.products li.product .mf-product-details-hover .sold-by-meta .sold-by-label{
  display: block!important;
}
.product-title{
  font-weight: 600!important;
  font-size: 15px!important;
  color: black!important;
}

.groupbuy-bage{
  background: white;
  top: 12px!important;
  right: 7px!important;
  border-radius: 20px;
  font-size: 27px!important;
}

.groupbuy-time{
  padding-bottom: 10px;
}

.woocommerce ul.products li.product a img{
  border-radius: 5px;
}


/*
*
* Offer page
*
*/

strong{
  color:black;
}

.error404 .site-content{
  background-color: white!important;
}

.woocommerce div.product .social-links a{
  border-radius: 5px;
}

//modal
.modal_default_main{
  border-radius: 10px;
  border-color: $primary-color!important;
  font-size: 27px!important;
}
.details-title{
  border-bottom: 2px solid darkgrey;
}

.offer-list{
  li{
    margin-bottom: 0;
  }
}

//buttons
.button{
  border-radius: 5px!important;
}

.button.invite{
  margin: 0 5px!important;
}
.button.rfq{
  margin: 0 5px!important;
}
.button.view-offer{
  margin: 0 0 5px 0!important;
}
